.container {
  --black-primary: black;
  --gray-primary: #8e8a8f;
  background-color: rgb(77, 77, 77);
  width: 100%;
  text-decoration: none;
  position: relative;
}
.container div {
  width: 50%;
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.container span {
  display: block;
}
.container span:first-child {
  color: var(--gray-primary);
  font-size: 1.1rem;
  font-weight: 350;
  letter-spacing: 2px;
  margin-bottom: 1.1rem;
}

.container h2 {
  color: var(--black-primary);
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 1.1rem;
  line-height: 2.6rem;
}

.container span:last-child {
  color: var(--gray-primary);
  font-size: 1.1rem;
  font-weight: 400;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container div {
    width: 80%;
    top: 2rem;
    left: 2rem;
  }
  .container span:first-child {
    font-size: 1rem;
    font-weight: 350;
    letter-spacing: 2px;
    margin-bottom: 0.7rem;
  }
  .container h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.7rem;
    line-height: normal;
  }
  .container span:last-child {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  .container div {
    width: 80%;
    top: 2rem;
    left: 2rem;
  }
  .container span:first-child {
    font-size: 1rem;
    font-weight: 350;
    letter-spacing: 2px;
    margin-bottom: 0.7rem;
  }
  .container h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.7rem;
    line-height: normal;
  }
  .container span:last-child {
    display: none;
  }
}
