/* footer section */
footer {
  width: 100%;
  padding: 0 10rem;
  padding-bottom: 4rem;
  --black-primary: black;
  --gray-primary: #8e8a8f;
}
.footer-top {
  border-top: 1px solid var(--gray-primary);
  display: flex;
  padding-top: 4rem;
}
.footer-top div h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--black-primary);
}
.contact-info {
  width: 30%;
  padding-right: 5rem;
}
.contact-info p {
  color: var(--gray-primary);
  font-size: 1rem;
}
.contact-info > p {
  padding-bottom: 1rem;
}

.contact-info > div p {
  line-height: 1.4rem;
}
.contact-info > div span {
  color: var(--black-primary);
}
.contact-info > div p:first-child span:hover {
  cursor: pointer;
  text-decoration: underline;
}
.latest-project {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-left: 5rem;
}
.latest-project a {
  text-decoration: none;
  color: var(--black-primary);
  margin-bottom: 0.2rem;
}
.latest-project a:hover {
  text-decoration: underline;
}
.current-availability {
  width: 30%;
  padding-right: 5rem;
}
.social-media {
  padding-left: 5rem;
  width: 20%;
}
.current-availability p {
  color: var(--gray-primary);
}
/* footer bottom */
.footer-bottom {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  color: var(--gray-primary);
}
.footer-bottom > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* footer logo */
.logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--gray-primary);
  align-items: center;
}
/* Todo add hover state to the logo */
.logo span:first-child {
  width: 55px;
  height: 55px;
  border: 4px solid var(--gray-primary);
  padding: 2px;
  position: relative;
  display: flex;
}
.logo span:last-child {
  padding-top: 2px;
  font-size: 0.6rem;
  font-weight: 600;
}
.logo span:first-child b {
  flex-grow: 1;
  font-size: 1.7rem;
  font-stretch: expanded;
}
.logo span:first-child b:first-child {
  align-self: flex-start;
  text-align: right;
}
.logo span:first-child b:last-child {
  align-self: flex-end;
  text-align: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  footer {
    width: 100%;
    padding: 0 1rem;
    padding-bottom: 4rem;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
  }
  .contact-info {
    width: 100%;
    padding-right: 0;
    margin-bottom: 1.5rem;
  }
  .latest-project {
    width: 100%;
    padding-left: 0;
    margin-bottom: 1.5rem;
  }
  .current-availability {
    width: 100%;
    padding-right: 0;
    margin-bottom: 1.5rem;
  }
  .social-media {
    padding-left: 0;
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  footer {
    width: 100%;
    padding: 0 1rem;
    padding-bottom: 4rem;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
  }
  .contact-info {
    width: 100%;
    padding-right: 0;
    margin-bottom: 1.5rem;
  }
  .latest-project {
    width: 100%;
    padding-left: 0;
    margin-bottom: 1.5rem;
  }
  .current-availability {
    width: 100%;
    padding-right: 0;
    margin-bottom: 1.5rem;
  }
  .social-media {
    padding-left: 0;
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 740px) {
  footer {
    padding: 0 2rem;
    padding-bottom: 4rem;
  }
  .footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .contact-info {
    grid-column: 1/4;
  }
  .contact-info div {
    align-self: flex-start;
    width: 50%;
  }
}
