.home {
  background-image: linear-gradient(blue, black);
  color: white;
}
.center > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home > div p {
  font-size: 1.5rem;
}
.home > div button {
  padding: 10px;
  background-color: crimson;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: rgb(12, 12, 196) 2px 2px 5px;
}
.s2 {
  background-image: linear-gradient(gray, black);
}
.s3 {
  background-image: linear-gradient(pink, white);
}
.fp-slidesNav.fp-bottom {
  text-align: center;
}
