.container {
  position: relative;
  /* border: solid burlywood 1px; */
  padding-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color var */
  --black-primary: black;
  --gray-primary: #8e8a8f;
}
.home-top {
  border: solid darkcyan 1px;
  width: 100%;
  height: 100vh;
  position: relative;
}
.home-top > h1 {
  font-size: 17rem;
  font-weight: 600;
  color: white;
  text-shadow: whitesmoke 5px 5px 5px;
}
.intro-div {
  position: absolute;
  left: 10rem;
  top: 280px;
}
.row {
  width: 40%;
}
.row h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  color: var(--gray-primary);
}
.row h1 {
  font-size: 5rem;
  line-height: 4.8rem;
  margin-bottom: 1.6rem;
}
.row p {
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 1.6rem;
  color: var(--gray-primary);
}
.row span {
  font-size: 1.3rem;
  color: var(--gray-primary);
}
.row span a {
  text-decoration: none;
  color: var(--black-primary);
  font-weight: 600;
  transition: all 0.2s linear;
}
.row span a:hover {
  text-decoration: underline;
}
/* fixed bottom */
.fixed-bottom {
  position: fixed;
  bottom: 4%;
  left: 0;
  right: 0;
  border: solid 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4rem;
}
.fixed-bottom a {
  text-decoration: none;
  width: 46px;
  height: 46px;
  background-color: var(--gray-primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  transition: all 0.2s linear;
}
.fixed-bottom a:hover {
  background-color: #0f141e;
}
.envelope:hover {
  width: 130px;
  justify-content: flex-start;
  padding: 20px;
}
.envelope span {
  width: 0;
  display: block;
  overflow: hidden;
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: white;
  opacity: 0;
  margin-top: 1px;
  transition: all 0.2s 0.2s linear;
}

.envelope:hover span {
  width: auto;
  opacity: 1;
  margin-left: 10px;
}
