.container {
  position: relative;
  padding-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color var */
  --black-primary: black;
  --gray-primary: #8e8a8f;
}
.project {
  padding: 0 10rem;
  width: 100%;
  display: flex;
}
/* left */
.project-overview {
  width: 50%;
}
.subtitle {
  font-size: 1rem;
  font-weight: 350;
  margin-bottom: 1rem;
  color: var(--gray-primary);
}
.title {
  color: var(--black-primary);
  font-size: 2.4rem;
  font-weight: 800;
  width: 50%;
  margin-bottom: 1.5rem;
}
.list {
  list-style: none;
  margin-bottom: 1.5rem;
}
.list li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.link {
  text-decoration: none;
  padding: 10px;
  font-size: 1rem;
  margin-right: 15px;
  border: 2px solid var(--gray-primary);
  border-radius: 4px;
  color: var(--gray-primary);
  background: white;
}
/* right */
.project-details {
  width: 50%;
}
.project-details p {
  color: var(--gray-primary);
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
/* images grid */
.images-container {
  width: 100%;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.image {
  background: var(--gray-primary);
  width: 100%;
  height: 800px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    padding-top: 8rem;
  }
  .project {
    padding: 0 1rem;
    flex-direction: column;
  }
  .project-overview {
    width: 100%;
  }
  .subtitle {
    font-size: 1rem;
    margin-bottom: 0.7rem;
  }
  .title {
    font-size: 2.2rem;
    line-height: normal;
    margin-bottom: 1rem;
    width: 100%;
  }
  .list li {
    font-size: 0.9rem;
  }
  .link {
    margin-bottom: 3rem;
    display: inline-block;
  }
  .project-details {
    width: 100%;
  }
  .project-details p {
    font-size: 1.1rem;
  }
  .images-container {
    padding: 3rem 1rem;
  }
}
