.container {
  position: relative;
  padding-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color var */
  --black-primary: black;
  --gray-primary: #8e8a8f;
}
.project {
  width: 85%;
  display: flex;
}
/* left */
.project-overview {
  width: 50%;
}
.subtitle {
  font-size: 1.1rem;
  font-weight: 350;
  margin-bottom: 1.6rem;
  letter-spacing: 2px;
  color: var(--gray-primary);
}
.title {
  color: var(--black-primary);
  font-size: 3rem;
  font-weight: 800;
  width: 50%;
  margin-bottom: 1.6rem;
}
.list {
  list-style: none;
  margin-bottom: 1.6rem;
}
.list li {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.link {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 1rem;
  margin-right: 15px;
  margin-top: 1rem;
  border: 2px solid var(--gray-primary);
  border-radius: 4px;
  color: var(--gray-primary);
  background: white;
}
/* right */
.project-details {
  width: 50%;
}
.project-details p {
  color: var(--gray-primary);
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
/* images grid */
.images-container {
  width: 85%;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.image {
  background: var(--gray-primary);
  width: 100%;
  height: 800px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1595px) {
  .project,
  .images-container {
    width: 90%;
  }
}

@media screen and (max-width: 1385px) {
  .project,
  .images-container {
    width: 95%;
  }
}

@media screen and (max-width: 1020px) {
  .project {
    flex-direction: column;
  }
  .title {
    width: 100%;
  }
  .project-details,
  .project-overview {
    width: 75%;
  }
  .link {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .subtitle {
    margin-bottom: 1rem;
  }
  .title {
    font-size: 2.4rem;
  }
  .list li {
    font-size: 1rem;
  }

  .project-details p {
    font-size: 1.3rem;
  }
  .images-container {
    padding: 4rem 0;
  }
  .image {
    height: 600px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .container {
    padding-top: 8rem;
  }
  .project {
    flex-direction: column;
  }
  .project-overview {
    width: 100%;
  }
  .subtitle {
    font-size: 1rem;
    margin-bottom: 0.7rem;
  }
  .title {
    font-size: 2.2rem;
    line-height: normal;
    margin-bottom: 1rem;
    width: 100%;
  }
  .list li {
    font-size: 0.9rem;
  }

  .project-details {
    width: 100%;
  }
  .project-details p {
    font-size: 1.1rem;
  }
  .images-container {
    padding: 3rem 0;
  }
}
