.subtitle {
  font-size: 1.1rem;
  font-weight: 350;
  margin-bottom: 1.6rem;
  letter-spacing: 4px;
  color: #8e8a8f;
}
.title {
  font-size: 5rem;
  margin-bottom: 1.6rem;
  color: black;
}

@media only screen and (max-width: 765px) {
  .subtitle {
    font-size: 1rem;
    margin-bottom: 1.3rem;
  }
  .title {
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .subtitle {
    font-size: 1rem;
    margin-bottom: 0.7rem;
  }
  .title {
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
  }
}
